* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Georgia', serif;
  background-color: #f3ebf9;
  display: flex;
  flex-direction: column;
}


header {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 2rem 0 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .nav-links a:hover{
    text-decoration: underline;
  }
  
.main-container {
  flex: 1;
  padding: 50px 60px;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 250px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.column h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4a3d5e;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.column ul {
  list-style: disc inside;
}

.column li {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 10px;
  color: #333;
}

footer {
  background-color: #6d4a89;
  color: white;
  text-align: left;
  padding: 20px 60px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 900px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 90%;
    margin-bottom: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  header {
    align-items: flex-end;
  }

  footer {
    text-align: center;
  }
}
